extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula, augue a tincidunt ultricies, mi dolor eleifend dolor, sit amet consequat erat elit eu metus. In pulvinar fermentum odio, eu euismod tortor gravida molestie. Donec neque augue, porta sed arcu ut, tristique malesuada sapien. 
                p Fusce orci lectus, posuere sit amet neque quis, blandit dignissim mi. Nam non facilisis magna, et porta massa. Pellentesque et ex non purus tincidunt volutpat. Sed nec felis non quam fermentum rhoncus vitae sit amet ante. Sed sodales tellus sit amet dolor ullamcorper, nec maximus felis tincidunt. Aliquam eros tellus, vulputate id vestibulum varius, feugiat ut risus. Aenean maximus urna a erat hendrerit blandit. Sed nisi neque, elementum non nulla in, luctus volutpat leo. Nam enim nibh, condimentum sit amet odio sit amet, cursus ultricies tortor.
                p Aliquam elementum, ante sed imperdiet posuere, mauris eros tincidunt nisi, ut dapibus ligula neque ornare nunc. Cras gravida nisl ultrices magna facilisis, sit amet fermentum urna condimentum. Nullam tristique a nisi sed scelerisque. Etiam pharetra non odio vitae tempus. Integer non pellentesque diam.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras dolor dolor, scelerisque eget eros at, dictum pharetra lectus. Vestibulum fermentum semper mollis. Nulla ut hendrerit quam, eu sollicitudin urna. Donec iaculis purus vel elit fringilla, ut facilisis magna eleifend. Integer elit arcu, sollicitudin eget fringilla a, mattis ut lectus. Vivamus dignissim elementum lectus, non vulputate magna viverra quis.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Cras dolor dolor, scelerisque eget eros at, dictum pharetra lectus. Vestibulum fermentum semper mollis. Nulla ut hendrerit quam, eu sollicitudin urna. Donec iaculis purus vel elit fringilla, ut facilisis magna eleifend. Integer elit arcu, sollicitudin eget fringilla a, mattis ut lectus. Vivamus dignissim elementum lectus, non vulputate magna viverra quis.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Cras dolor dolor, scelerisque eget eros at, dictum pharetra lectus. Vestibulum fermentum semper mollis. Nulla ut hendrerit quam, eu sollicitudin urna. Donec iaculis purus vel elit fringilla, ut facilisis magna eleifend. Integer elit arcu, sollicitudin eget fringilla a, mattis ut lectus. Vivamus dignissim elementum lectus, non vulputate magna viverra quis.
