extends ../layout/index
block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6
                p Fusce orci lectus, posuere sit amet neque quis, blandit dignissim mi. Nam non facilisis magna, et porta massa. Pellentesque et ex non purus tincidunt volutpat. Sed nec felis non quam fermentum rhoncus vitae sit amet ante. 
                p Fusce orci lectus, posuere sit amet neque quis, blandit dignissim mi. Nam non facilisis magna, et porta massa. Pellentesque et ex non purus tincidunt volutpat. Sed nec felis non quam fermentum rhoncus vitae sit amet ante.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", class="img-fluid")
        h2.text-center.mb-5 Próximos viajes
        include ../layout/partials/viajes
    .descuento
        .container
            .row
                .col-md6
                    .contenido
                        h3 5% de descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 Octubre 2020 - 28 Octubre 2020
                        p.precio $2,500 USD
    .container
        h2.text-center.my-5 Testimoniales
        include ../layout/partials/testimoniales